@import "tailwindcss";


@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-bg {
  background-size: 400% 400%;
  animation: bgMove 12s ease infinite;
}

/* Modern sidebar scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}